body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
}
.calculator{
  flex: 0 0 90%;
}
.screen{
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background-color: rgb(44, 44, 44);
  color: #fff;
  border: none;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s linear;
}
button{
  flex: 0 0 25%;
  border: 1px solid #000;
  padding: 0.25rem 0;
  transition: 1s ease;
  font-size: 3rem;
  outline: none
}
button:hover{
  background: rgba(129, 129, 129, 0.527);
}
.btn__yellow,
.btn-equal,
.btn-clear{
  color: #fff;
}
.btn__yellow{
  background-color: rgb(255, 166, 0);
}
.btn__yellow:hover{
  background-color: rgb(172, 124, 34);
}

.btn-equal{
  background-color: seagreen;
}
.btn-equal:hover{
  background-color: rgb(43, 185, 105);
}
.btn-clear{
  background-color: rgb(233, 107, 85);
}
.btn-clear:hover{
  background-color: rgb(238, 67, 37);
}