body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-btn{
  padding: 0.5rem 1rem;
  border: 3px solid #fefefe;
  border-radius: 0.25rem;
  color: #fefefe;
  background: rgba(0,0,0,0.6);
  font-size: 0.8rem;
  text-transform: capitalize;
  box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.4);
  cursor: pointer;
}
.color-btn:hover{
  background: rgba(0,0,0);
}